@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #121212;
  --text-dark: #e5e5e5;
}

body {
  @apply bg-white text-black min-h-screen transition-colors duration-200;
}

html.dark {
  background-color: var(--bg-dark);
}

html.dark body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
